.page {
    height: 100vh;
    text-align: center;
}

/*Canvas*/
#front-canvas {
    position: absolute;
    top: 8vh;
    left: 0px;
    margin: none;
    padding: none;
}

#front-page {
    height: 92vh;
    width: 100%;
    text-align: center;
    color: var(--second-color);
}
#front-page-container {
    position: absolute;
    left: 0px;
    top: 8vh;
    width: 100%;
    text-align: center;
}
#front-page-text {
    font-size: 15vh;
}